*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;

  max-width: 100vw;
  min-height: 100vh;

  background-image: url("../resources/Arizona.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  overflow-x: hidden;
}

/* ##################################TYPOGRAPHY################################# */

h2 {
  font-size: 5rem;
  color: white;
  letter-spacing: 3px;
  margin-left: 3rem;
}

#nav-bar {
  padding: 2rem;

  background-color: rgb(130, 192, 201);
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: max(350px, 50%);

  font-size: clamp(2rem, 2.5vw, 3rem);
  list-style: none;

  display: flex;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.burger {
  display: none;
}

.burger > div {
  height: 3px;

  background-color: black;
}

@media (max-width: 700px) {
  #nav-bar {
    position: relative;
  }

  .nav-links {
    height: 100vh;
    width: 60%;

    background-color: rgb(130, 192, 201);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    position: absolute;
    top: 0;
    right: 0;

    transform: translateX(100%);
  }

  .burger {
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    cursor: pointer;

    position: absolute;
    top: 4rem;
    right: 3rem;
  }
} ;
